html {
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Roboto';
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  overflow: scroll;
}
